Sawyer X <xsawyerx@cpan.org> xsawyerx <xsawyerx@bb7b6759-d628-0410-895d-7b6b7dc49dde> sawyer <sawyer@dungeon.(none)>
Dan Book <grinnz@grinnz.com> Dan Book <grinnz@gmail.com>
petdance <petdance@bb7b6759-d628-0410-895d-7b6b7dc49dde>
rsignes <rsignes@bb7b6759-d628-0410-895d-7b6b7dc49dde>
David Pottage <david@chrestomanci.org> David.Pottage <d.pottage@cv-library.co.uk>
hobbestigrou <hobbestigrou@erakis.eu>
Brendan Byrd <byrd.b@insightcom.com>
Colin Ewen <colin@draecas.com>
David Steinbrunner <dsteinbrunner@pobox.com>
Guillermo O. Freschi <kedrot@gmail.com>
Ivan Bessarabov <ivan@bessarabov.ru>
Karen Etheridge <ether@cpan.org>
Pedro Figueiredo <pedro.figueiredo@playfish.com>
Richard Poole <richard@2ndQuadrant.com>
cjcollier <cjcollier@bb7b6759-d628-0410-895d-7b6b7dc49dde>
xdaveg <xdaveg@bb7b6759-d628-0410-895d-7b6b7dc49dde>
Brian Manning <cpan@xaoc.org>
Chas. J. Owens IV <chas.owens@gmail.com>
Diab Jerius <djerius@cpan.org>
Dimitrios Kechagias <dimitrios.kechagias@spareroom.co.uk>
MartinMcGrath <mcgrath.martin@gmail.com>
Shlomi Fish <shlomif@iglu.org.il>
lnation <lnation@lnations-MacBook-Pro.local>

